button {
    width: 15em;
    font-size: 1em;
    margin: 5px;
    padding: 7px;
    border: 1px solid #209fc9;
    border-radius: 10px;

}

button:hover {
    color: #209fc9;
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
}